<div [ngClass]=" 'container-fluid' ">
  <div [ngClass]="['row','justify-content-center','justify-content-center']">
    <div [ngClass]="['col-12','justify-content-center','d-flex','mt-auto',''] ">
      <div class="texthead my-auto">
        <h2 [ngClass]="['text-light','text-bold']">About US</h2>
        <a href="#"
          [ngClass]="['mt-auto','text-uppercase','text-bold' ,' text-decoration-none' ,'txt','hovertxt'] ">Home</a>
        <span [ngClass]="['text-light','px-3']">/</span>
        <a href="#"
          [ngClass]="['mt-auto','text-uppercase','text-bold','text-danger','text-decoration-none','txt'] ">About Us</a>
      </div>
    </div>
  </div>
  </div>
<section>
  <div [ngClass]="['container']">
    <div [ngClass]="['row','justify-content-center']">
      <div [ngClass]="['col-md-11']">
        <div [ngClass]="['m']" style="margin: 100px 0px;">
          <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d56035.69069056964!2d77.3226496!3d28.622848!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1696359190337!5m2!1sen!2sin" width="100%" height="510" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="['container']">
    <div [ngClass]="['row','justify-content-center']">
      <div [ngClass]="['col-md-11']">
        <div [ngClass]="">
              
        </div>
      </div>
    </div>
  </div>
</section>