@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@0,300;0,500;1,400;1,500;1,600&display=swap');
h5{
  font-family: preconnect;
}
label{
  font-size: 15px;
  color: #b4acac;
  font-family: math;
}
.col-lg-8{
  background: #c1f3f5a8;
}